# built application files
*.apk

# files for the dex VM
*.dex

# Ignore Java output files
*.class
*.ap_

# Ignore any backup files ( like TextFile.txt~ ) created by a text editor.
*.*~

# Ignore Thumbs.db from Windows (thumbnail image cache file)
Thumbs.db

# Ignore bin directories which is where .dex and .apk are generated
bin/

gen/

obj/

R.java
local.properties
*.prefs

libs/
!libs/*.jar

#Ingore the DS_Store
.DS_Store
