<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.widget">


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/applicationName"
        android:theme="@style/AppTheme">

        <provider
            android:name=".database.TasksContentProvider"
            android:authorities="com.widget.tasksContentProvider"
            android:exported="true" />

        <activity
            android:name=".ui.groups.GroupsActivity"
            android:label="@string/applicationName">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NewItemActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/labelEdit" />

        <activity
            android:name=".activity.QuickTaskAdder"
            android:configChanges="orientation|screenSize"
            android:label="@string/labelNewTask"
            android:theme="@style/QuickAdder"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".activity.GroupsListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/actionGroupManagement" />

        <receiver
            android:name=".provider.ListWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget_provider" />
        </receiver>

        <service
            android:name=".provider.MyWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".notification.OnAlarmReceiver" />
        <service android:name=".notification.AlarmService" />

    </application>

</manifest>
